@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@700&family=Roboto&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

.bg {
    /* The image used */
    background-image: url('./assets/images/tareq-ajalyakin-21vaqDnMgq4-unsplash.jpg');

    /* Full height */
    height: 100%;

    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}